

body {
  font-family: Verdana, sans-serif;
}

h2 {
  display: inline-block;
  font-size: .9em;
  font-weight: normal;
}

p {
  font-size: .8em;
}





.wrapper {
  position: relative;
  top: 70px;
  width: 95%;
  margin: 0 auto;
}

.coupon-cell {
  position: relative;
  margin-right: 3%;
  max-width: 420px;
  min-height: 237px;
  overflow: auto;
  border: 1px solid #6c6c6c;
  border-radius: 5px;
}

.heading-flex {
  box-sizing: border-box;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-box-align: center;
  align-content: center;
  align-items: center;
  min-height: 39px;
  max-height: 39px;
}

.heading-flex:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}


.content-flex {
  box-sizing: border-box;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-box-align: center;
  align-content: center;
  align-items: center;
  min-height: 145px;
}

.content-flex:after {
  content: '';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}



.coupon-heading {
  position: relative;
  padding: 0 20px;
  color: #fff;
  background-color: #6c6c6c;
  border: none;
}



.coupon-image {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-box-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;

  position: relative;
  float: left;
  margin: 0 19px;
  height: 100px;
  min-width: 100px;
  background: url(../images/img-sm.jpg);
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  border-radius: 5px;
}

.coupon-image > p {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.coupon-body {
  float: left;
  padding: 10px 5px 10px 0;
  margin-right: 3px;
}

.footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: auto;
  padding: 2%;
  background-color: #eee;
}

.btn {
  box-sizing: border-box;
  float: right;
  width: 139px;
  padding: 13px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
}


/*.body-ellipsis {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -webkit-box-orient: vertical;
  max-width: 100%;
  height: 43px;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}
*/


a {
  color: #d4d4d4;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
}
a .ellipsis-handler {
  border: solid 1px #ccc;
  background-color: #eee;
  padding: 5px;
  border-radius: 3px;
}


.display-none {
  display: none;
}
.display-inline,
.visible-text {
  display: inline-block;
}



/*  MEDIA QUERIES */

@media only screen and (max-width: 420px) {

  .coupon-heading {
    margin: 0 auto;
  }

  .coupon-image {
    float: none;
    margin: 22px auto 5px;
    width:80%;
    background: url(../images/img-md.jpg);
  }

  .coupon-body {
    float: none;
    width: 80%;
    margin: 5px auto;
  }

  .content-flex {
    box-sizing: border-box;
    display: block;

    min-height: 275px;
  }

}
